label {
  font:
    1rem "Fira Sans",
    sans-serif;
}

input {
  margin: 0.4rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content2 {
  display: block;
  align-self:auto;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}
